@import "particles.css";
@import "label.css";
@import "buttons.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  border: 1px solid #000;
}

.container {
  display: flex;
}

@keyframes buttonAnimation {
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 576px) {
  .container {
    flex-direction: column;
  }
}
